.resultTitle {
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: rgb(61, 10, 95);
    border-radius: 10px;
}

.resultDesc {
    background-color: rgb(242, 179, 248);
    font-size: 18px;
    border-radius: 8px;
}

.share-btn {
    font-size: 20px;
    cursor: pointer;
}